@font-face {
    font-family: "header";
    src: url(../font/kg.ttf);
}
header
{
	text-align: center;
	height: 12em;
}
body{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	color: black;
	font-family: arial;
}
h1{
	padding: 2em;
	color: white;
	font-family: "header";
	font-size: 2.5em;
	text-shadow: 4px 4px black; 
	text-align: center;
}

h3{
	
	font-family: chilanka;
	margin-top: 2em;
    font-size: 1em;
}

.h3titulo{
	font-family: chilanka;
	text-shadow: 2px 2px white; 
	margin-top: 2em;
	font-size: 2em;
	text-align: center;
}
nav{
	height: 17em;
	padding-top: 2em;
}

nav ul ul #listaLogin{
float: right;
}

nav ul #testbox{
	display: none;
	margin-top: 18px;
	position: absolute;
	background: rgb(255, 255, 255,0.7);
	border-radius:1em; 
	width: 12em;
    padding: 0.9em;
}

nav ul #testbox input{
	border-radius: 0.3em;
	padding: 0.3em;
    margin-top: 7px;
    margin-bottom: 11px;
}

nav ul #testbox label{
	color: black;
	text-shadow: 1px 1px rgb(0, 132, 255);
	font-family: "header";
	font-size: 12px;

}

.aLogin{
	color: white;
    text-align: center;
    background: blue;
    border-radius: 0.5em;
    font-family: header;
	font-size: 11px;
	margin-left: 7.5em;
}

nav ul{
	list-style: none;
	color: white;
}
nav li , #lilogin, #liregistro{
	display: inline-block;
	color: black;
	padding: 1em;
	background: rgb(255, 255, 255,0.7);
	border-radius: 1em;
	font-family: "header";
}

#liregistro{
	margin-right: 30px;
}

#entrada a:link {
    background-color: transparent; 
    text-decoration: underline;
}

#entrada{
	background: rgb(255, 255, 255,0.5);
	border-radius: 1em;
	margin: 1.5em;
	padding: 2em;
}

#comentario{
	background: rgb(255, 255, 255,0.5);
	border-radius: 1em;
	margin: 2em;
	padding: 2em;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.ad{
	text-align: center;
	margin-top: -6em;
    margin-bottom: 7em;
	background: rgb(255, 255, 255,0.7);
	border-radius:1em;
	padding: 3em;
	font-family: chilanka;
	text-shadow: 2px 2px white; 
}

#logo{
	position: absolute;
	left: 0;
}

a{
	text-decoration: none;
	color: black;
	padding: 0.5em;
	
}

 .avolver{
	text-decoration: none;
	padding: 0.5em;
	color: black;
	background: rgb(255, 255, 255,0.7);
	border-radius:1em;
	font-family: chilanka;
}

.registro{
	background: rgb(255, 255, 255,0.7);
	border-radius:1em;
	text-align: center;
	width: 11.5%;
	padding: 3em;
	margin: 0 auto;
   
}

.aRegistro{
	color: white;
    text-align: center;
    background: blue;
    border-radius: 0.5em;
    font-family: header;
	font-size: 11px;
	margin: 0 auto;
}

button{
	margin-left: 63em;
}


/*...............................................ENTRADA.........................................................*/

.form {
	text-align: center;

}
.form .boton{
	background: blue;
	color: white;
}
/*...............................................FOOTER.........................................................*/

footer{
	background: rgb(255, 255, 255, 0.5);
	height: 225px;
	border-radius: 1em;
	margin: 45px 30px;
  }
  
footer ul{
	margin: 0px 30px;
	padding: 10px;
	width: 25%;
	float: left;
	list-style: none;
}
  
footer ul li{
	margin: 8px;
}
  
.copyright{
    padding-bottom:50px;
	width: 100%;
	float: left;
	text-align: center;
}
  
  